root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true

[*.md]
indent_size = unset
max_line_length = 150

[{*.css,*.html,*.json,*.sh,*.toml,*.yml,*.yaml,*.mjs}]
indent_size = 2
max_line_length = 150

[*.move]
max_line_length = unset

[{.git/**/*,.claude/**/*,CLAUDE.md,Cargo.toml,**/Cargo.toml,**/*.lock,**/Move.toml,LICENSE}]
charset = unset
end_of_line = unset
indent_size = unset
indent_style = unset
insert_final_newline = unset
max_line_length = unset
trim_trailing_whitespace = unset
